#category-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

#category-nav-container a {
  text-decoration: none;
  color: rgb(119, 119, 119);
  font-size: 1.1rem;
  line-height: 2.4rem;
}

#category-nav-container a:hover {
  color: #034752;
  text-decoration: underline;
}


@media (max-width: 800px) {
  #category-nav-container {
    border-bottom: none;
  }
  #category-nav-container a{
    display: none;
  }
}