#footer-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 90px;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  position: relative;
  width: 100%;
}

#footer-nav-container a {
  text-decoration: none;
  color: rgb(119, 119, 119);
  font-size: 1.1rem;
  line-height: 2.4rem;
}

#footer-nav-container a:hover {
  color: #034752;
  text-decoration: underline;
}
