.profile-dropdown {
  position: absolute;
  background: white;
  border: gray solid 1px;
  padding: 15px;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
  font-family: Arial;
  color: black;
  width: 915px;
  height: 365px;
  top: 45px;
  right: 0px;
}

#nav-logo {
  color: #05ce78;
}

#nav-logo:hover {
  color: #05ce78;
  text-decoration: none;
}

.hidden {
  display: none;
}

#nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;
}

#nav-container li {
  list-style-type: none;
}

#nav-container a {
  text-decoration: none;
  color: black;
}

#leftside-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}

#search-button {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  background-color: white;
  font-size: 0.9rem;
  column-gap: 5px;
  cursor: pointer;
}

#rightside-nav {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

#login-link-button:hover {
  color: #05ce78;
}

#discover-link:hover {
  color: #05ce78;
}

#start-a-project:hover {
  color: #05ce78;
}

#user-dropdown-button {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

#user-dropdown-button:hover {
  color: #05ce78;
}

#user-dropdown-container {
  z-index: 1;
  background-color: white;
  padding: 10px;
  border: 1px solid lightgray;
}

.main-profile-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  column-gap: 90px;
}

.profile-container {
  width: 210px;
}

.profile-container,
.profile-backed-projects-container {
  border-right: 1px solid lightgray;
}

.profile-backed-projects-container,
.profile-creator-projects-container {
  width: 350px;
}

.backing-projects-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}


.profile-container-headers {
  margin-bottom: 20px;
  font-weight: bold;
}

#logout-button {
  border: none;
  background-color: white;
  cursor: pointer;
  margin-top: 20px;
  padding: 0px;
  color: red;
}

.project-summary-link {
  margin-top: 20px;
}

.project-summary-link > a:hover {
  color: #05ce78 !important;
}

.backing-container:hover {
  color: #034752 !important;
  text-decoration: underline !important;
}
