.profile-dropdown {
  position: absolute;
  background: white;
  border: gray solid 1px;
  padding: 15px;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
  font-family: Arial;
  color: black;
  width: 915px;
  height: 365px;
  top: 55px;
  right: 20px;
}

#nav-logo {
  color: #05ce78;
  font-family: 'Lilita One';
  font-size: 2.5rem;
}

#nav-logo:hover {
  color: #05ce78;
  text-decoration: none;
}

.hidden {
  display: none;
}

#nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;
}

#nav-container li {
  list-style-type: none;
}

#nav-container a {
  text-decoration: none;
  color: black;
}

#leftside-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}

#search-button {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  background-color: white;
  font-size: 0.9rem;
  column-gap: 5px;
  cursor: pointer;
}

#rightside-nav {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

#login-link-button:hover {
  color: #05ce78;
}

#discover-link:hover {
  color: #05ce78;
}

#start-a-project:hover {
  color: #05ce78;
}

#user-dropdown-button {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

#user-dropdown-button:hover {
  color: #05ce78;
}

#user-dropdown-container {
  z-index: 1;
  background-color: white;
  padding: 10px;
  border: 1px solid lightgray;
}

.main-profile-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  column-gap: 90px;
}

.profile-container {
  width: 210px;
}

.profile-container,
.profile-backed-projects-container {
  border-right: 1px solid lightgray;
}

.profile-backed-projects-container,
.profile-creator-projects-container {
  width: 350px;
}

.no-border-right {
  border: none !important;
}

.backing-projects-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}


.profile-container-headers {
  margin-bottom: 20px;
  font-weight: bold;
}

#logout-button {
  border: none;
  background-color: white;
  cursor: pointer;
  margin-top: 20px;
  padding: 0px;
  color: red;
}

.project-summary-link {
  margin-top: 20px;
}

.project-summary-link>a:hover {
  color: #05ce78 !important;
}

.backing-container:hover {
  color: #034752 !important;
  text-decoration: underline !important;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: transparent;
  z-index: 1000;
}

/* CSS for the search input container */
.search-container {
  background-color: transparent;
  padding: 0;
  border: none;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

/* CSS for the search input itself */
.search-input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 27px;
  padding: 20px;
}

.search-button {
  border: none;
  background-color: white;
  font-size: 26px;
  margin-right: 30px;
  cursor: pointer;
}

/* CSS for the modal content */
.modal-content {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  /* Full width */
}

.close-button {
  /* position: absolute;
  top: 10px;
  right: 10px; */
  cursor: pointer;
  font-size: 3rem;
  color: #037362;
}
