.main-projects-container {
  background-color: white;
  margin: auto;
}

.featured-project-text {
  font-size: 1rem;
  color: rgb(98, 97, 97);
  font-weight: lighter;
}

.featured-project-image {
  width: 100%;
  height: 335.08px;
}


.main-featured-project-container {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  margin-top: 20px;
  row-gap: 10px;
  border-right: 1px solid lightgray;
  padding-left: 20px;
}

.featured-project-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.save-project-button {
  /* padding: 2px 6px; */
  width: 25px;
  height: 25px;
  border-radius: 70%;
  background-color: white;
  border: 0.1rem solid #dcdedd;
  cursor: pointer;
}

/* .save-project-button:hover {
  width: 30px;
  height: 30px;

} */

.progress-bar-container {
  width: 100%;
  height: 1em;
  position: relative;
  background-color: #f1f1f1;
}

.fund-progress-bar {
  background-color: green;
  height: 100%;
  position: absolute;
  line-height: inherit;
}

.progress {
  border-radius: 16px !important;
}

@media (min-width: 1028px) {
  .featured-project-image {
    width: 100%;
    aspect-ratio: 16 / 9; /* Set your desired aspect ratio (e.g., 16:9) */
  }
}